/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
.p-xlar {
  padding: 5rem; }

.p-lar {
  padding: 3rem; }

.p-med {
  padding: 2rem; }

.p-sma {
  padding: 1.5rem; }

.p-xsma {
  padding: 1rem; }

.nosotrosIMG-cafeCompu1 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("../assets/img/cafeCompu1.jpg"); }

.nosotrosIMG-cafeAnteojos {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("../assets/img/cafeAnteojos.jpg"); }

.nosotrosIMG-cafeLibreta {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-image: url("../assets/img/cafeLibreta.jpg"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: #11110e; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

/* PARTIALS */
header {
  background-color: #11110e;
  grid-area: header; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    padding: 0px 2rem;
    flex-wrap: wrap; }
  header .menu {
    flex-basis: 40%;
    justify-content: space-around; }
    header .menu__item, header .menu__item--active {
      border: 0.5px solid #11110e;
      transition: border-color .36s ease-in-out; }
      header .menu__item--active {
        border-bottom: 2px solid #fff; }
      header .menu__item:hover, header .menu__item--active:hover {
        border: 0.5px solid #F1E8E9; }
      header .menu__item .menu__link, header .menu__item--active .menu__link {
        font-size: 1.8em;
        padding: .5rem; }
  header .logo {
    flex-basis: 25%; }

#logo {
  max-width: 435px; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0; }

ol, ul {
  padding-left: 0; }

.footer {
  width: 100%;
  background: #1a1a17;
  color: #fff;
  grid-area: footer; }

.grupo-1 {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }
  .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .grupo-1 .box figure img {
      width: 250px; }
  .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px; }
  .grupo-1 .box p {
    font-size: 1.3em;
    color: #efefef;
    margin-bottom: 10px; }
  .grupo-1 .redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #474755;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 30px;
    font-size: 1.6em; }
    .grupo-1 .redes-sociales a:hover {
      color: gray; }

.footer .grupo-2 {
  background-color: #1a1a18;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  font-size: 2em; }

/* VIEWS */
#body-index {
  width: 100%;
  max-width: 100%;
  background-color: #11110e;
  font-family: "Open Sans", sans-serif;
  color: #F1E8E9;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header     header      header" "contenido  contenido   contenido" "footer     footer      footer"; }
  #body-index .contenido {
    background: #11110e;
    grid-area: contenido; }

.foto-index {
  height: 100%; }

button {
  font-size: 1.6em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  color: white; }

.h1, h1 {
  font-size: 6.5em; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.5; }

#body-about {
  width: 100%;
  max-width: 100%;
  color: #F1E8E9;
  background-color: #11110e;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header     header" "contenido  contenido" "contenido  contenido" "footer     footer"; }

.mainAbout {
  max-width: 1080px;
  margin: 0 auto; }
  .mainAbout .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    .mainAbout .about-section article p {
      font-size: 1.5em;
      padding: 2rem; }

#body-faq {
  background-image: linear-gradient(to left bottom, #25272a, #1e2224, #181d1d, #141816, #11120d);
  color: #F1E8E9; }

#faq {
  width: 100%;
  height: 100%; }

.tituloFaq {
  font-size: 7em;
  color: #F1E8E9;
  text-align: center;
  justify-content: center;
  padding: 1.5%;
  font-weight: 450;
  margin-bottom: 0.5rem; }

.bounce-top {
  -webkit-animation: bounce-top 1.5s ease-in both;
  animation: bounce-top 1.5s ease-in both; }

.preguntas {
  color: #F1E8E9;
  font-size: 3em;
  text-align: center;
  padding: 10px; }

#body-product {
  background-image: url("../assets/img/granosCafe.jpg");
  color: #F1E8E9; }

.card {
  background-color: #11110e;
  border: 1px solid #212529; }
  .card .precio {
    text-align: end; }

.btn-primary {
  background-color: #f7b63f;
  border-color: #f7b63f;
  color: #11110e; }

#body-contact {
  color: #F1E8E9;
  background-image: url("../assets/img/fondoCafeteria.jpg");
  width: 100%;
  max-width: 100%;
  margin: auto; }

.opinion {
  text-align: center; }

.formContacto {
  width: 450px;
  margin: auto;
  background: #3c2017;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 70px;
  margin-bottom: 71px;
  border-radius: 7px;
  grid-area: contenido; }
  .formContacto h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px; }
  .formContacto input,
  .formContacto textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none; }
  .formContacto textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  .formContacto .botonFormulario {
    background: #31384a;
    color: #fff;
    padding: 20px; }
    .formContacto .botonFormulario:hover {
      cursor: pointer; }

/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .grupo-1 {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    padding: 40px 0px; }
  .formContacto {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .grupo-1 {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .formContacto {
    width: 100%; } }

@media screen and (max-width: 430px) {
  #body-index {
    width: 100%;
    max-width: 100%; }
  header .logo {
    flex-basis: 25%; }
  #logo {
    max-width: 300px; }
  .formContacto {
    width: 100%; } }

@media screen and (max-width: 320px) {
  .grupo-1 {
    width: 10%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 15px 0px; } }
