header {
    background-color: $principal;
    grid-area: header;

    .navbar {
        min-height: 10vh;
        justify-content: space-around;
        align-items: center;
        padding: 0px 2rem;
        flex-wrap: wrap;
    }

    .menu {
        flex-basis: 40%;
        justify-content: space-around;

        &__item {
            border: .5px solid $principal;
            transition: border-color .36s ease-in-out; 

            &--active {
                @extend.menu__item;
                border-bottom: 2px solid #fff;
            }

            &:hover {
                border: .5px solid $secundaria;
            }

            .menu__link {
                font-size: $text-md;
                padding: .5rem;
            }
        }
    }

    .logo {
        flex-basis: 25%;
    }
}
#logo {
    max-width: 435px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}