#body-about {
    width: 100%;
    max-width: 100%;
    color: $secundaria;
    background-color: #11110e;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header     header"
    "contenido  contenido"
    "footer     footer";
}

.titulo-aboutUs {
    text-align: center;
}

.mainAbout {
    max-width: 1080px;
    margin: 0 auto;
    
    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        flex-direction: column;

        article {
            p {
                font-size: 1.5em;
                padding: map-get($mapaPaddings, med );
                text-align: center;
            }
        }
    }
}

