#body-contact {
    color: $secundaria;
    background-color: #11110e;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.formContacto {
    width: 450px;
    margin: auto;
    background: rgba(121, 120, 120, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    grid-area: contenido;

    h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }

    textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    .botonFormulario {
        background: #31384a;
        color: #fff;
        padding: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}