$principal: #11110e;
$secundaria: #F1E8E9; 
$font-primary: "Open Sans", sans-serif;
$font-secundary: "Comfortaa", cursive;
$text-lg: 3em;
$text-md: 1.8em;
$text-sm: 1.2em;
$font-alternativa: "Arvo", serif;